@model IEnumerable<skillTreeMvcHomeWork.Models.ViewModels.MoneyData>

@helper MoneyType(int type)
{
if (type == 0)
{
<span style="color:red">支出</span>
}
else
{
<span style="color:blue">收入</span>
}
}

<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            類別
        </th>
        <th>
            日期
        </th>
        <th>
            金額
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.number
            </td>
            <td>
                @MoneyType(item.moneyType)
            </td>
            <td>
                @item.time.ToString("yyyy-MM-dd")
            </td>
            <td>
                @item.money.ToString("0,0", System.Globalization.CultureInfo.InvariantCulture)
            </td>
        </tr>
    }
</table>


